
.about__container {
    background: var(--color-primary);
    color: var(--color-text);
    display:flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.about__general {
    margin: 1rem;
}


/* ===================== ME ========================== */

.about__picture {
    border-radius: 2rem;
    margin: 1rem;
}
.about__picture img {
    width: 60%;
}
/* ===================== CONTENT ========================= */
.about__content h2 {
    display: flex;
    flex-direction: column;
}
.about__content span {
    width: 100%;
    border: solid 2px var(--color-secondary);
}
.content__text {
    padding: 1rem;
}
.content__text__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
}


.socialNetwork a {
    padding: 1rem;
    font-size: 2rem;
    color: var(--color-secondary);
}
.socialNetwork a:hover {
    color: var(--color-tercary);
}

.contactBtn a {
    margin: 1rem;
}

/* ================ TABLETTE ============ */
@media screen and (min-width: 820px) {

}

/* ================ DEKSTOP ============ */
@media screen and (min-width: 1024px) {

}