#reflexiology {
    display:flex;
    align-items: center;
    flex-direction: column;
}
.reflexiology__acc {
    margin: 0 !important;
    background: var(--color-primary);
}
.types {
    font-style: italic;
    margin: 30px 0;
}
.types h3 {
    padding: 0.5rem;
}

/* ================ TABLETTE ============ */
@media screen and (min-width: 820px) {

}

/* ================ DEKSTOP ============ */
@media screen and (min-width: 1024px) {
    .types {
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;

    }
    .reflexiology__general {
        display: flex !important;
        flex-direction: row !important;
        margin-top: 1rem;
    }
    .reflexiology__general .general__content {
        padding: 0 7rem;
    }
    .reflexiology__acc {
        border-radius: 2rem;
    }
    .img__format {
        width: 1400px !important;
        height: 500px !important;
        object-fit: cover !important;
        overflow: hidden;

    }
    .reflexiology__acc__general {
        display: flex !important;
        margin-top: 1rem;
    }
    .reflexiology__acc__general .acc__content {
        max-width: 1000px;
    }
    .reflexiology__acc__general .acc__content p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .reflexiology__perinatal {
        display: flex !important;
        flex-direction: row-reverse !important;
        gap: 2.5rem;
        margin-top: 1rem;
    }
    .reflexiology__shiatsu {
        display: flex !important;
        flex-direction: row !important;
        gap: 2.5rem;
        margin-top: 1rem;
    }
    .reflexiology__shiatsu .acc__content {
        max-width: 600px;
    }
}