
.types {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* Reflexology General */
.reflexiology__general {
    display: flex !important;
    flex-direction: row ;
    margin-top: 1rem;
}
.reflexiology__general img {
    width: 40%;
    max-height: 600px;
}
.reflexiology__general .general__content {
    padding: 0 7rem;
}


/* Accompagnement */


.reflexiology__a {
display: flex;
flex-direction: row;
}
.img__a {
    object-fit: cover !important;
    overflow: hidden;
    margin-bottom: 0;
    max-height: 600px;
}


/* reflexiology perinatal*/
.reflexiology__b {
    display: flex ;
    flex-direction: row-reverse ;
    gap: 2.5rem;
    margin-top: 1rem;
}
.img__b {
    margin-bottom: 0;
}

/* reflexiology shiatsu */


.reflexiology__shiatsu .acc__content {
    max-width: 600px;
}
.reflexiology__acc {
    margin: 0 !important;
    background: var(--color-primary);
}
.types {
    font-style: italic;
    margin: 30px 0;
}
.types h3 {
    padding: 0.5rem;
}

/* ================ TABLETTE ============ */
@media screen and (max-width: 820px) {
    #reflexiology {
        display:flex;
        align-items: center;
        flex-direction: column !important;
    }
    #reflexiology img {
        width: 100%;
    }
    .types {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .reflexiology__general .general__content {
        padding: 0;
    }
}

/* ================ DEKSTOP ============ */
@media screen and (max-width: 480px) {

}