@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-bg: #f5f5f5;
    --color-primary: #B5DDB9;
    --color-primary-transparent: rgba(181, 221, 185, 0.6);
    --color-secondary: #A66C6E;
    --color-tercary: #F2E7E5;
    --color-text:#374D77;
    --color-text-dark: black;
    --color-text-light: #f5f5f5;

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 100%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;

}

/* ============== GENERAL STYLES =============== */
section {
    width: var(--container-width-sm);
    margin: 0 auto;
    color: var(--color-text);
}
h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}


.content {
    display:flex;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    margin: 1rem;
}
.content p {
    padding-bottom: 1rem;
}


.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-secondary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-secondary);
    transition: var(--transition); 
}
.btn:hover {
    background: var(--color-secondary);
    color: var(--color-bg);
    border-color: transparent;
}


img {
    display: block;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 1rem;
}

/* ================ TABLETTE ============ */
@media screen and (min-width: 820px) {

}

/* ================ DEKSTOP ============ */
@media screen and (min-width: 1024px) {

}